/*
// .nav-panel
*/

@import '../common/prefixer';
@import '../variables';


// Nav panel

.nav-panel {
    @include flex-block();
    @include align-items(center);
}

// Nav links

.nav-panel__nav-links {
    position: relative;
    @include flex-block();
}

// Nav icons

.nav-panel__nav-icons {

}

// User info

.nav-panel__user-info {
    
}

// Indicator cart

.nav-panel__indicator-cart {
    position: relative;
}

// Dropdown language

.nav-panel__dropdown-language {

}

// Menu

.nav-panel__menu {
    display: none;

    @media (max-width: breakpoint(xl-start)) {
        display: block;
        position: relative;
        height: 24px;
        padding-left: 5px;
    }
}

@media (min-width: breakpoint(xs-start)) and (max-width: breakpoint(sm-end)) {
    
}

@media (max-width: breakpoint(xl-start)) {
    .nav-panel__nav-links,
    .nav-panel__nav-icons {
        display: none;
    }
}